body {
  overflow-x: hidden;
}

#poem {
  font-size: 1.2rem;
  position: absolute;
  top: 10vw;
  width: 100%;
  text-align: center;
}

#answer {
  width: 20rem;
  height: 2rem;
  border: 1px dashed black;
  position: absolute;
  left: 51vw;
  bottom: 25vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sortable li {
  display: inline;
  padding: 0.3em;
  font-size: 2em;
  height: 2rem;
}

h4 {
  padding: 2rem;
  color: grey;
}
.found {
  color: red;
}
