

#poem {
  font-size: 1.2rem;
  position: absolute;
  top: 20vw;
  width: 100vw;
  text-align: center;
}

#answer {
  width: 20rem;
  height: 2rem;
  border: 1px dashed black;
  position: absolute;
  left: 51vw;
  bottom: 15vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.found {
  color: red;
}
