body {
  background-color: black;
  color: white;
}

#cultural-document {
  font-family: monospace;
  font-size: 1.25rem;
  width: 70vw;
  padding-top: 5vw;
  margin: auto;
}

.revealed {
  color: white;
  /* text-decoration: underline; */
}
